<p style="color: green"><%= notice %></p>


<h1 class="text-center">Sucursales</h1>

<div class="d-flex justify-content-center">
  <% if can? :create, Branch %>
    <%= link_to "Nueva Sucursal", new_branch_path, class: "btn btn-secondary m-2" %>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <div id="appointments" class="d-flex flex-column m-4" style="width: 40rem">
    <% @branches.each do |branch| %>
      <div class="card mb-3 bg-danger text-white">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <%= render branch %>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column">
              <% if can? :edit, Branch %>
                <%= link_to "Administrar", branch, class: "btn btn-secondary align-self-center m-1" %>
              <% end %>
              <% if can? :create, Appointment %>
                <%= link_to "Pedir Turno", new_branch_appointment_path(branch), class: "btn btn-secondary align-self-center m-1" %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
