<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @schedule.day %>
</p>

<p>
  <b>Start time:</b>
  <%= @schedule.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @schedule.end_time %>
</p>


<%= link_to 'Edit', edit_branch_schedule_path(@schedule.branch, @schedule) %> |
<%= link_to 'Back', branch_schedules_path(@schedule.branch) %>
