<!DOCTYPE html>
<html>
<head>
  <title>TrabajoFinal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag :application %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<style>
  *{
      font-size: 1.2rem;
  }
    p {
        color: black;
    }
    h5 {
        color: black;
    }
</style>
<body class="bg-dark" style="color: #F7F7F7">
<%= render "layouts/navbar" %>
<% if user_signed_in? %>
  <% render "layouts/messages" %>
<% end %>
<%= yield %>
</body>
</html>
