<!DOCTYPE html>
<html>
<head>
  <title>TrabajoFinal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag :application %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

    * {
        font-size: 1.2rem;
    }

    h1 {
        color: #F7F7F7;
    }
</style>
<body class="bg-dark">
<%= render "layouts/navbar" %>
<div class="d-flex justify-content-center mt-3">
  <div>
    <% if user_signed_in? %>
      <% if alert %>
        <ul class="list-unstyled">
          <li class="alert alert-warning"><%= alert %></li>
        </ul>
      <% end %>
      <% if notice %>
        <ul class="list-unstyled">
          <li class="alert alert-info"><%= notice %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<%= yield %>
</body>
</html>
