<%= form_with(model: user) do |f| %>

  <div class="d-flex justify-content-center">
    <div>
      <%= render "shared/error_messages", resource: user %>
      <div class="card bg-danger " style="width: 20rem">
        <div class="card-body">
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :contraseña %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :confirmar_contraseña %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <% if @user.created_at.nil? %>
            <div class="field w-100">
              <%= f.label :Rol %><br/>
              <%= f.select :role, options_for_select([["Administrador", "admin"], ["Personal", "staff"]], selected: @user.role), class: "form-control" %>
            </div>
          <% end %>

          <% if @user.staff? %>
            <div class="field w-100" id="branch">
              <%= f.label :Sucursal %><br/>
              <%= f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, selected: @user.branch_id), class: "form-control" %>
            </div>
          <% else %>
            <div class="field w-100" id="branch" style="display: none">
              <%= f.label :Sucursal %><br/>
              <%= f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, selected: @user.branch_id), class: "form-control" %>
            </div>
          <% end %>

          <div class="card bg-danger mt-3">
            <div class="list-group list-group-flush d-flex">
              <%= f.submit "Confirmar", class: "list-group-item bg-danger" %>
              <%= link_to "Volver", users_path, class: "list-group-item bg-danger", style: "text-align:center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    function showBranch() {
        var role = document.getElementById("user_role");
        var branch = document.getElementById("branch");
        if (role.value == "staff") {
            branch.style.display = "block";
        } else {
            branch.style.display = "none";
        }
    }

    document.getElementById("user_role").addEventListener("change", showBranch);
</script>