<%= form_with(model: user) do |f| %>

  <div class="d-flex justify-content-center">
    <div>
      <%= render "shared/error_messages", resource: user %>
      <div class="card bg-danger " style="width: 20rem">
        <div class="card-body">
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :role %><br/>
            <%= f.select :role, options_for_select([["Admin", "admin"], ["Cliente", "client"], ["Personal", "staff"]], selected: @user.role) %>
          </div>

          <% if @user.staff?%>
          <div class="field" id="branch" >
            <%= f.label :branch %><br/>
            <%= f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @user.branch_id), include_blank: true %>
          </div>
            <% else %>
            <div class="field" id="branch" style="display: none" >
              <%= f.label :branch %><br/>
              <%= f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @user.branch_id), include_blank: true %>
            </div>
          <% end %>
        </div>
        <div class="card bg-danger ">
          <div class="list-group list-group-flush d-flex">
            <%= f.submit "Confirmar", class: "list-group-item bg-danger" %>
            <%= link_to "Volver", :back, class: "list-group-item bg-danger", style: "text-align:center" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    //write a function that shows the branch field if the role field is set to staff and add the listener to the role field
    function showBranch() {
        var role = document.getElementById("user_role");
        var branch = document.getElementById("branch");
        if (role.value == "staff") {
            branch.style.display = "block";
        } else {
            branch.style.display = "none";
        }
    }
    document.getElementById("user_role").addEventListener("change", showBranch);
</script>