<div id="<%= dom_id office_hour %>">
  <p>
    <strong>Day:</strong>
    <%= office_hour.day %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= office_hour.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= office_hour.end %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= office_hour.branch_id %>
  </p>

</div>
