<p style="color: green"><%= notice %></p>

<%= render @office_hour %>

<div>
  <%= link_to "Edit this office hour", edit_branch_office_hour_url(@office_hour) %> |
  <%= link_to "Back to office hours", branch_office_hours_url %>

  <%= button_to "Destroy this office hour", edit_branch_office_hour_url(@office_hour), method: :delete %>
</div>
