<div id="<%= dom_id appointment %>">
  <p>
    <strong>Branch:</strong>
    <%= appointment.branch_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>
  <% if !appointment.comment.blank? %>
    <p>
      <strong>Comment:</strong>
      <%= appointment.comment %>
    </p>
  <% end %>
  <% if appointment.comment %>
    <p>
      <strong>Staff:</strong>
      <%= appointment.staff_id %>
    </p>
  <% end %>
</div>
