<div id="<%= dom_id appointment %>">
  <p>
    <strong>Branch:</strong>
    <%= appointment.branch.name %>
  </p>

  <% if current_user != appointment.user_id %>
    <p>
      <strong>User:</strong>
      <%= appointment.user.email %>
    </p>
  <% end %>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>
  <% if appointment.comment %>
    <p>
      <strong>Comment:</strong>
      <%= appointment.comment %>
    </p>
  <% end %>
  <% if appointment.comment %>
    <p>
      <strong>Staff:</strong>
      <%= appointment.staff.email %>
    </p>
  <% end %>
</div>
