<div id="<%= dom_id appointment %>">
  <% if !current_user.staff? %>
    <p>
      <strong>Branch:</strong>
      <%= appointment.branch.name %>
    </p>
  <% end %>

  <% if current_user.id != appointment.user_id %>
    <p>
      <strong>User:</strong>
      <%= appointment.user.email %>
    </p>
  <% end %>

  <p>
    <% if current_user.staff? %>
      <strong>Hora:</strong>
      <%= appointment.date.strftime("%H:%M") %>
    <% else %>
      <strong>Fecha y Hora:</strong>
      <%= appointment.date.strftime("%Y-%m-%d %H:%M") %>
    <% end %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>
  <% if appointment.comment %>
    <p>
      <strong>Comment:</strong>
      <%= appointment.comment %>
    </p>
  <% end %>
  <% if appointment.comment %>
    <p>
      <strong>Staff:</strong>
      <%= appointment.staff.email %>
    </p>
  <% end %>
</div>
