<%= form_with(model: [@appointment.branch, @appointment], url: finish_appointment_path) do |form| %>
  <%= render "shared/error_messages", resource: appointment %>

  <div class="d-flex justify-content-center">
    <div class="card bg-danger " style="width: 20rem">
      <div class="card-body">
        <div>
          <%= form.label :Comentario , style: "display: block"%>
          <%= form.text_area :comment, class: "form-control",rows:5 %>
        </div>

      </div>
      <div class="card bg-danger ">
        <div class="list-group list-group-flush d-flex">
          <%= form.submit "Confirmar", class: "list-group-item bg-danger" %>
          <%= link_to "Volver", :back, class: "list-group-item bg-danger", style: "text-align:center" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
