<%= form_with(model: [@appointment.branch, @appointment],url:finish_appointment_path) do |form| %>
  <%= render "shared/error_messages", resource: appointment %>

  <div class="d-flex justify-content-center">
    <div class="form-group">

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment,class:"form-control" %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Volver", :back, class: "list-group-item bg-danger", style: "text-align:center" %>
  </div>
    </div>
  </div>





<% end %>
