<%= form_with(model: [@appointment.branch, @appointment]) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="card bg-danger text-white">
      <div class="card-body">
        <div>
          <%= form.label :date, style: "display: block" %>
          <%= form.datetime_field :date %>
        </div>

        <div>
          <%= form.label :reason, style: "display: block" %>
          <%= form.text_field :reason %>
        </div>

        <% if can? :destroy, Appointment %>
          <div class="field">
            <%= form.label :comment %>
            <%= form.text_area :comment %>
          </div>
        <% end %>
      </div>

      <div class="card bg-danger text-white">
        <div class="list-group list-group-flush d-flex">
          <%= form.submit class: "list-group-item bg-danger" %>
          <%= link_to "Back to appointments", branch_appointments_path, class: "list-group-item bg-danger", style: "text-align:center" %>
        </div>
      </div>
    </div>
  </div>
<% end %>