<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <%= appointment.status == 0 %>
    <p>
      <%= link_to "Show this appointment", branch_appointment_path(id: appointment.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New appointment", new_branch_appointment_path %>
