<p style="color: green"><%= notice %></p>

<h1 class="text-center">Appointments</h1>


<div class="d-flex justify-content-center">
  <div id="appointments" class="d-flex flex-column m-4" style="width: 40rem">
    <% @appointments.each do |appointment| %>
      <div class="card mb-3 bg-danger text-white">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <%= render appointment %>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column">
              <%= link_to "Mostrar", branch_appointment_path(appointment.branch_id, appointment), class: "btn btn-secondary m-1" %>
              <% if can? :edit, Appointment %>
                <% if appointment.Pending? %>
                  <%= link_to "Atender", edit_branch_appointment_path(appointment.branch_id, appointment), class: "btn btn-secondary m-1" %>
                <% end %>
              <% end %>
              <% if can? :destroy, Appointment %>
                <% if appointment.Pending? %>
                  <%= link_to 'Cancelar', [appointment.branch, appointment], class: "btn btn-secondary align-self-center m-1", method: :delete, data: { turbo_method: "delete", confirm: '¿Seguro que desea cancelar su turno?' } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
