<div class="d-flex flex-column">

<h2 class="text-center">Mi Perfil</h2>

<div class="d-flex flex-row">


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <%= current_user.email %><br>
      <%= current_user.role %><br>
      <%= current_user.branch %>

    </div>
    <div class="col-md-auto bg-light">
      <div class="container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


          <div class="field">
            <%= f.label :contraseña %> <i>(Dejar en blanco si no hay cambios)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :confirmacion_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :contraseña_actual%> <br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Actualizar", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

</div>

<%= link_to "Volver", :back, class: "btn btn-danger align-self-center mt-2", style: "width:20rem"%>
</div>
